* {
    background-color: lightblue;
}
body {
    font-family: sans-serif;
}
body .focim h1 {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}
body .fegyverek{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
body .fegyverek img{
    width: 300px;
    height: 300px;
    margin: 0 30px;
}
body .fegyverek img:hover{
    cursor: grab;
}
.gepValasz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gepValasz h2 {
    text-align: center;
}
.gepValasz img{
    width: 300px;
    height: 300px;
}
.gepValasz img:hover{
    cursor: not-allowed;
}